body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    background-color: #B7B5E4;
}

/* Main Ticket Style */
.ticketContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket{
    animation: bouncingCard 0.6s ease-out infinite alternate;
    background-color: white;
    color: darkslategray;
    border-radius: 12px;
}
.ticketShadow{
    animation: bouncingShadow 0.6s ease-out infinite alternate;
    margin-top: 4px;
    width: 95%;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(12px);
}

/* Ticket Content */
.ticketTitle{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 16px 4px;
    margin-left: 4.5rem;
}
hr{
    width: 90%;
    border: 1px solid #efefef;
}
.ticketDetail{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 16px;
}
.ticketSubDetail{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 12px 16px;
}
.ticketSubDetail .code{
    margin-right: 24px;
}

/* Ticket Ripper */
.ticketRip{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circleLeft{
    width: 12px;
    height: 24px;
    background-color: #B7B5E4;
    border-radius: 0 12px 12px 0;
}
.ripLine{
    width: 100%;
    border-top: 3px solid #B7B5E4;
    border-top-style: dashed ;
}
.circleRight{
    width: 12px;
    height: 24px;
    background-color: #B7B5E4;
    border-radius: 12px 0 0 12px;
}

.shield{
    margin-left: 2.5rem;
    
}

/* Ticket Bouncing Animation */
@keyframes bouncingCard {
    from { transform: translateY(0);}
    to {transform: translateY(-18px);}
}
@keyframes bouncingShadow {
    from { transform: translateY(0px);}
    to {transform: translateY(4px);}
}
